.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  color: black
}

.gallery {
  display:flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 100px;
  max-height: 40em;
  overflow-y: auto;
  direction: rtl;
}


.thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.1s ease;
}

.thumbnail.active {
  border: 2px solid #5ece7b;
}

.mainImageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items:start;
  height: fit-content;
  min-height: 600px;
  /* height: 600px; */
  overflow: visible;
  position: relative;
  width: fit-content;
}

.mainImage {
  width: 100%;
  max-width: 600px;
  object-fit: cover;
}

.details {
  margin-right: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.price h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.price p {
  font-size: 20px;
  font-weight: bold;
}

.addToCartButton {
  padding: 15px;
  max-width: 500px;
  background: #5ece7b;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s ease;
}

.addToCartButton:hover {
  background: #4caf50;
}

.addToCartButton:disabled {
  background: gray;
  cursor: not-allowed;
}

.description {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.imageButton {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  background: rgba(0, 0, 0, 0.5); 
  border: none;
  cursor: pointer;
  z-index: 10; 
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 50%; */
}

.imageButton:hover {
  background: rgba(0, 0, 0, 0.8); 
  transition: background 0.2s ease;
}

.previousButton {
  left: 100px; 
}

.nextButton {
  right: 100px; 
}

.imageButton img {
  width: 20px; 
  height: 20px;
}

.attributes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}